<head>
  <style>
    .btn-new-order {
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
<div class="container" style="width:fit-content;">
  <h1>Lista de ordenes</h1>

  <button class="btn btn-info btn-new-order" type="button" [routerLink]="['/orden/formnueva']">Nueva Orden</button>

  <div class="table-responsive">
    <table class="table mx-auto">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id Orden</th>
          <th scope="col">No. de Orden</th>
          <th scope="col">Usuario</th>
          <th scope="col">Empleado</th>
          <th scope="col">Paciente</th>
          <th scope="col">Tipo de Servicio</th>
          <th scope="col">Tipo de orden</th>
          <th scope="col">Asistencia</th>
          <th scope="col">Observaciones</th>
          <th scope="col">Fecha de Orden</th>
          <th scope="col">Activo</th>
          <th scope="col">FechaImprime</th>
          <th scope="col">Finalizado</th>
          <th scope="col">Fecha de Cita</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Orden of ordenes">
          <td>{{Orden.idOrden}}</td>
          <td>{{Orden.numeroOrden}}</td>
          <td>{{getUsuarioLogin(Orden.idUsuarioImprime)}}</td>
          <td>{{getEmpleadoNombre(Orden.idEmpleado)}}</td>
          <td>{{getPacienteNombre(Orden.idPaciente)}}</td>
          <td>{{getTipoServicioDescripcion(Orden.idTipoServicio)}}</td>
          <td>{{getTipoOrdenDescripcion(Orden.idTipoOrden)}}</td>
          <td>{{Orden.asistencia}}</td>
          <td>{{Orden.observaciones}}</td>
          <td>{{Orden.fechaOrden}}</td>
          <td>{{Orden.activo}}</td>
          <td>{{Orden.fechaImprime}}</td>
          <td>{{Orden.finalizado}}</td>
          <td>{{Orden.fechaCita}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
