<div class="container">
    <div class="card-body">
        <h5 class="card-title">{{titulo}}</h5>
        <form>
            <div class="form-group row">
                <label for="observaciones" class="col-form-label col-sm-2">Observaciones</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="observaciones"/>
                </div>
            </div>

            <button class="btn btn-success" role="button" (click)='create()'>Editar</button>
        </form>

    </div>

</div>
